*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* utility */
.container{
    width: 80%;
}

.debug-box {
    display: inline-block;
    width: 100%;
    height: 500px;
    background-image: url(../htmlcss-discord/img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

i{
    margin-right: 10px;
}

/* jumbo section */
.jumbo{
    width: 100vw;
    background-color: #255ee9;
}

.container{
    width: 70%;
    height: auto;
    margin: 0 auto;
}

/* header nav */

header{
    height: 50px;
    background: #255ee9;
    
}

.logo{
    float: left;
    width: 30%;
    height: 50px;
}

.logo img{
    display: inline-block;
    padding-top: 10px;
}

nav{
    float: left;
    height: 40px;
    width: 70%;
    position: relative;
}

nav ul{
    display: inline-block;
    text-transform: none;
    margin-left: 0;
}

nav ul li{
    display: inline-block;
    line-height: 50px;
    margin-right: 20px;
    
    
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    font-weight: 400;
}

nav ul li button{
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 35%;
    border: none;
    background: white;
    border-radius: 10px;
}

.debug-box{
    position: relative;
}
.debug-box .description-h{
    position: absolute;
    width: 50%;
    text-align: center;
    padding: 0 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

/* text header */
.description-h{
    color: white;
}

.description-h h1{
    display: inline-block;
    font-size: 35px;
    margin-bottom: 40px;
}

.description-h ul li{
    display: inline-block;
}

.description-h p{
    margin-bottom: 30px;
}

/* button header */

.description-h ul li button{
    margin-right: 10px;
    height: 30px;
    border: none;
    border-radius: 15px;
}

.download{
    width: 150px;
    background: white;
}

.open{
    width: 200px;
    color: white;
    background: black;
}



    
    
    

